

<h2>Trivia Fact about <%= @math["number"] %></h2>
<p><%= @trivia["text"] %></p>


<h2>Math Fact about <%= @math["number"] %></h2>
<p><%= @math["text"] %></p>


<h2>Date Fact about <%= @math["number"] %></h2>
<p><%= @date["text"] %></p>