<!DOCTYPE html>
<html>
  <head>
    <title>ApiPractice</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<nav>
  		<%= form_tag do%>
 		    <%= text_field_tag :id %>
		    <%= submit_tag "Search Number"%>
		<% end %>

  	</nav>
    <%= yield %>
  </body>
</html>
